@define-color bg_bar rgba(30, 30, 46, 0.85);
@define-color text_light #f8f8f2;
@define-color purple_accent #cba6f7;

* {
    font-family: "Inter", "Helvetica", Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: @bg_bar;
    color: @text_light;
    border-bottom: 2px solid @purple_accent;
}

#wireplumber,
#network,
#battery,
#clock,
#custom-power {
    padding: 0 12px;
    color: @text_light;
}

#clock {
    color: @purple_accent;
}

#custom-power {
    color: #ff5555;
    padding-right: 18px;
}
